.characters {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 40px;

    @media (min-width: 500px) {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    @media (min-width: 700px) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
    }

    @media (min-width: 1000px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 50px;
    }
}

.nothing-found {
    margin: auto;
    width: 90vw;
    text-align: center;
}
