.search {
    width: 100%;
    &__field {
        display: block;
        margin: 0px auto 50px;
        width: 75%;
        height: 40px;
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 5px;
        border: 1px black solid;
        outline: none;
    }

    &__pagination {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &__item {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
            margin: 4px;
            cursor: pointer;

            &:hover {
                background-color: rgba(0, 0, 0, 0.164);
            }

            &--active {
                background-color: black;
                color: white;
            }

            &--disable {
                background-color: rgba(0, 0, 0, 0.05);
                pointer-events: none;
                cursor: progress;
            }
        } 
    }

}